.admin-wrapper {
  .bottom-section-admin {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 3rem;
  }

  .tutorials-container {
    color: $black;
    margin: 0;
    padding: 0;

    .btn {
      height: 4rem;
      padding: 0;
    }

    .video-btn {
      border: none;
      background: none;
      cursor: pointer;
    }

    &-body {
      border-left: black 2px solid;
      margin-left: 1rem;
      padding-left: 1rem;
      margin-top: 2rem;
      padding-right: 2rem;
    }
    img {
      width: 100%;
      border-radius: 15px;
      transition: all 0.5s cubic-bezier(0.56, -0.45, 0.62, 1.46);

      &:hover {
        -moz-transform: scale(1.2) translate(0px, -2px) skew(0deg, 1deg);
        -webkit-transform: scale(1.2) translate(0px, -2px) skew(0deg, 1deg);
        -o-transform: scale(1.2) translate(0px, -2px) skew(0deg, 1deg);
        -ms-transform: scale(1.2) translate(0px, -2px) skew(0deg, 1deg);
        transform: scale(1.05) translate(0px, -2px) skew(0deg, 0.5deg);
        box-shadow: 0px 7px 17px 0px rgba($white, 0.1);
      }
    }

    .edit-mode {
      animation-name: editMode;
      animation-duration: 1s; /* or: Xms */
      animation-iteration-count: infinite;
      animation-timing-function: ease; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
      transform: translateX(0) scale(1);
    }

    .edit-mode:hover {
      transform: scale(1) translate3d(0, 0, 0) rotate(0);
    }
    @keyframes editMode {
      0% {
        transform: translate3d(0, 0, 0) rotate(0deg);
      }
      10%,
      90% {
        transform: translate3d(-2px, 0, 0) rotate(-1deg);
      }

      20%,
      80% {
        transform: translate3d(2px, 0, 0) rotate(1deg);
      }

      30%,
      50%,
      70% {
        transform: translate3d(-2px, 0, 0) rotate(-1deg);
      }

      40%,
      60% {
        transform: translate3d(2px, 0, 0) rotate(1deg);
      }
    }
  }

  @media only screen and (min-width: 500px) {
    .bottom-section-admin {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media only screen and (min-width: 900px) {
    .bottom-section-admin {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media only screen and (min-width: 1400px) {
    .bottom-section-admin {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .btn-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
    padding: 2rem;
    text-align: center;
  }
}

.admin-submit-btn {
  margin-bottom: 3rem;
  margin-top: 1rem;
}

.video-admin-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  &--info {
  }
}

.top-section {
  display: flex;
  justify-content: space-between;
}
