*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 10px;
    font-family: 'Mukta', sans-serif;
    color: $black;
    background: $white;
}

h1 {
    font-size: 5.5rem;
    font-weight: 400;
}

h2 {
    font-size: 4.5rem;
    font-weight: 400;
}

h3 {
    font-size: 4rem;
    font-weight: 400;
}

h4 {
    font-size: 3.5rem;
    font-weight: 400;
}

h5 {
    font-size: 3rem;
    font-weight: 400;
}

h6 {
    font-size: 2.5rem;
    font-weight: 400;
}

p {
    font-size: 2rem;
}

a {
    font-size: 2rem;
    text-decoration: none;
}

a:visited,
a:active {
    color: $success-0;
}

a:hover,
a:focus {
    color: $success-1;
}

.btn {
    color: black !important;
    background: white;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba($black-60, 0.3);

    &-success {
        background: $green;
    }
}

small {
    font-size: 1rem;
}

.container {
    width: 80%;
    padding-top: 10rem;
    margin-left: 10%;
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 90%;
        margin-left: 5%;
        padding-top: 0;
    }
}

input[type='text'],
input[type='email'],
input[type='password'] {
    height: 4rem;
    border: none;
    font-family: inherit;
    box-sizing: border-box;
    font-size: 1.75rem;
    padding-left: 1.5rem;
    border-radius: 4px;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.2);
    margin: 2rem 0;
    width: 100%;
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
    position: absolute;
    top: 0;
    left: 0;
}
