.profile-body-div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  margin-top: 4rem;

  .poster-name {
    display: none;
  }

  h3 {
    line-height: 1;
    display: inline-flex;
    border-bottom: 2px solid;
    margin: 2rem 0;

    &:nth-child(1) {
      margin-top: 0;
    }
  }
}

.left-side-body {
  border-right: 3px solid $black;
  padding-right: 2rem;
  text-align: justify;
  margin-right: 1rem;
}

.avatar-container {
  position: relative;
  width: 60px;
  height: 60px;
  .avatar {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-size: cover;
    top: 0;
    border-radius: 10px;
    border: 3px solid $black;
  }
}

.avatar-name-container {
  display: flex;
  flex-direction: column;
}
.post-item {
  display: flex;
  color: $white;
  padding: 1rem;
  .avatar-post {
    text-align: center;
    line-height: 1;
    img {
      width: 150px;
      border-radius: 50%;
    }
  }
  .post-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .bottom-post-text {
      display: flex;
      line-height: 1;
      justify-content: space-between;
      padding-top: 1rem;
    }
  }
}
.poster-name {
  display: inline-block;
  margin-right: 1rem;
}

.danger-button,
.success-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  .fas {
    border: none;
    background: none;
  }
  .fa-thumbs-up {
    color: $success-4;
  }
  .fa-thumbs-down,
  .fa-times {
    color: $danger-0;
  }
}

.avatar-post {
  width: 100px;
  margin-right: 2rem;
}

.top-wrapper {
  display: flex;
  height: 50rem;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 2rem;
  .profile-link {
    margin: 0 2rem;
    &s {
      position: absolute;
      top: 6rem;
    }
  }
}
.avatar {
  width: 200px;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &-name {
    display: flex;
    align-items: flex-end;
    margin-left: 2rem;
    position: relative;

    &-company {
      display: flex;
      margin-left: 2rem;
      flex-direction: column;
    }
  }
}

.following-info {
  display: flex;

  &-two {
    margin: 0 2rem !important;
  }
  &-btn p {
    width: 80px;
  }
  &-btn {
    background: $warn-0;
    color: $black;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    &:hover {
      background: darken($warn-0, 20%);
      color: $white;
    }
    &:disabled {
      background: darken($warn-0, 40%);
      color: $black;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .profile-body-div {
    margin-top: 0;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    .left-side-body {
      border: none;
    }
  }
}
.avatar-post {
  width: 60px;
  height: 60px;
  border-radius: 50% !important;
}
.profile-links {
  top: 6rem !important;
}
.post-item {
  align-items: flex-start;
  border-top: 1px solid #444;
  &:nth-child(1) {
    border-top: none;
  }
}

@media only screen and (max-width: 1000px) {
  .top-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 2rem;
    .avatar-name {
      align-items: flex-start;
      flex-direction: column;
      &-company {
        margin: 0;
      }
    }
    .location,
    .following-info {
      margin-left: 2rem;
    }
  }

  .btn {
    margin-top: 1rem;
  }

  .moment {
    display: none;
  }
}

.harley {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.9))
    ),
    url('../img/banner/harley.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/harley.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/harley.jpg');
}
.birdy {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.9))
    ),
    url('../img/banner/birdy.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/birdy.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/birdy.jpg');
}
.bubbles {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.9))
    ),
    url('../img/banner/bubbles.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/bubbles.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/bubbles.jpg');
}
.colorKeys {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.9))
    ),
    url('../img/banner/colorKeys.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/colorKeys.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/colorKeys.jpg');
}
.computerChip {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.9))
    ),
    url('../img/banner/computerChip.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/computerChip.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/computerChip.jpg');
}
.coolKeyboard {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.9))
    ),
    url('../img/banner/coolKeyboard.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/coolKeyboard.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/coolKeyboard.jpg');
}
.lights {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.9))
    ),
    url('../img/banner/lights.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/lights.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/lights.jpg');
}
.openMac {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.9))
    ),
    url('../img/banner/openMac.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/openMac.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/openMac.jpg');
}
.pier {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.9))
    ),
    url('../img/banner/pier.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/pier.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/pier.jpg');
}
.otherMac {
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0.9))
    ),
    url('../img/banner/otherMac.jpg');
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/otherMac.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/otherMac.jpg');
}

.github-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
  ul li {
    padding: 0;
  }
}
