.profile-body-div {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 1rem;
  margin-top: 4rem;

  .danger-button,
  .success-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    .fas {
      border: none;
      background: none;
    }
    .fa-thumbs-up {
      color: $success-4;
    }
    .fa-thumbs-down,
    .fa-times {
      color: $danger-0;
    }
  }

  .poster-name {
    display: none;
  }

  h3 {
    line-height: 1;
    display: inline-flex;
    border-bottom: 2px solid;
    margin: 2rem 0;

    &:nth-child(1) {
      margin-top: 0;
    }
  }

  .avatar-post {
    width: 100px;
    margin-right: 2rem;
  }
  .left-side-body {
    border-right: 3px solid $black;
    padding-right: 2rem;
    text-align: justify;
    margin-right: 1rem;
  }

  .top-post-text {
    margin-bottom: 2rem;
  }

  .avatar-container {
    position: relative;
    width: 100px;
    padding-top: 100%;
    .avatar {
      width: 100%;
      height: 100px;
      position: absolute;
      background-position: center;
      background-size: cover;
      top: 0;
      border-radius: 10px;
      border: 3px solid $black;
    }
  }
  .post-item {
    display: flex;
    margin: 4rem 0;
    background: $white;
    color: $black;
    padding: 1rem;
    .avatar-post {
      text-align: center;
      line-height: 1;
      img {
        width: 150px;
        border-radius: 50%;
      }
    }
    .post-text {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .bottom-post-text {
        display: flex;
        line-height: 1;
        justify-content: space-between;
        padding-top: 1rem;
        border-top: 3px solid;
      }
    }
  }
}

.top-wrapper {
  display: flex;
  height: 50rem;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 2rem;

  .profile-link {
    margin: 0 2rem;
    &s {
      position: absolute;
      top: 6rem;
    }
  }

  .avatar {
    width: 200px;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &-name {
      display: flex;
      align-items: end;
      margin-left: 2rem;
      position: relative;

      &-company {
        display: flex;
        margin-left: 2rem;
        flex-direction: column;
      }
    }
  }
  .following-info {
    display: flex;

    &-two {
      margin: 0 2rem !important;
    }
    &-btn p {
      width: 80px;
    }
    &-btn {
      background: $warn-0;
      color: $black;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      transition: all 0.3s ease;
      &:hover {
        background: darken($warn-0, 20%);
        color: $white;
      }
      &:disabled {
        background: darken($warn-0, 40%);
        color: $black;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .profile-body-div {
    margin-top: 0;
    grid-template-columns: 1fr;
    .left-side-body {
      border: none;
    }
  }
  .profile-links {
    top: 2rem !important;
  }
}

@media only screen and (max-width: 1000px) {
  .top-wrapper {
    display: flex;
    justify-content: end;
    align-items: start;
    flex-direction: column;
    padding-bottom: 2rem;
    .avatar-name {
      align-items: start;
      flex-direction: column;
      &-company {
        margin: 0;
      }
    }
    .location,
    .following-info {
      margin-left: 2rem;
    }
  }
  .post-item {
    flex-direction: column;
    align-items: center;
  }
  .moment {
    display: none;
  }
}

.harley {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/harley.jpg');
}
.birdy {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/birdy.jpg');
}
.bubbles {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/bubbles.jpg');
}
.colorKeys {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/colorKeys.jpg');
}
.computerChip {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/computerChip.jpg');
}
.coolKeyboard {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/coolKeyboard.jpg');
}
.lights {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/lights.jpg');
}
.openMac {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/openMac.jpg');
}
.pier {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/pier.jpg');
}
.otherMac {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)),
    url('../img/banner/otherMac.jpg');
}
