.tutorial-video-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  margin-bottom: 3rem;

  .tutorials-container {
    .btn {
      height: 4rem;
      padding: 3px;
      border-radius: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-body {
      border-left: black 2px solid;
      margin-left: 1rem;
      padding-left: 1rem;
      margin-top: 2rem;
      padding-right: 2rem;
    }

    a {
      border-radius: 15px;
    }

    img {
      width: 100%;
      border-radius: 15px;
      transition: all 0.5s cubic-bezier(0.56, -0.45, 0.62, 1.46);

      &:hover {
        -moz-transform: scale(1.2) translate(0px, -2px) skew(0deg, 1deg);
        -webkit-transform: scale(1.2) translate(0px, -2px) skew(0deg, 1deg);
        -o-transform: scale(1.2) translate(0px, -2px) skew(0deg, 1deg);
        -ms-transform: scale(1.2) translate(0px, -2px) skew(0deg, 1deg);
        transform: scale(1.05) translate(0px, -2px) skew(0deg, 0.5deg);
        box-shadow: 0px 7px 17px 0px rgba($white, 0.1);
      }
    }
  }
}
@media only screen and (min-width: 750px) {
  .tutorial-video-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

.player-section {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-gap: 1rem;
}

.playlist {
  &-bottom {
    margin-top: 3rem;
    display: grid;
  }
}
.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.btn-comment {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.playlist-wrapper {
  display: grid;
  grid-template-rows: 1fr;
  .playlist-img {
    width: 15%;
  }
}

.playlist-btn {
  display: flex;
  align-items: center;
  min-height: 5rem;

  h6 {
    padding-left: 2rem;
  }
}

.playlist-btn {
  margin-top: 0;
  border-radius: 0;
  border-bottom: $black 1px solid;
}

.comment-textarea:focus + span::after {
  width: 80%;
}

.playlist-comment-item {
  position: relative;
  display: flex;

  .bottom-comment {
    display: flex;
    flex-direction: column;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
    margin-left: 3rem;
    width: 100%;
  }

  .avatar-link {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (max-width: 800px) {
    .avatar {
      display: none;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .player-section {
    display: block;
  }
  .playlist-bottom {
    display: block;
  }
}

.side-playlist {
  height: 40rem;
  overflow-y: scroll;
}
@media only screen and (min-width: 1600px) {
  .side-playlist {
    height: 50rem;
  }
}

@media only screen and (min-width: 1200px) {
  .tutorial-video-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (max-width: 1160px) {
  .comment-textarea:focus + span::after {
    width: 90%;
  }
}
@media only screen and (max-width: 850px) {
  .comment-textarea:focus + span::after {
    width: 95%;
  }
}
