// .tutorial-video-wrapper {
//   display: grid;
//   grid-gap: 1rem;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   img {
//     width: 100%;
//     border-radius: 15px;
//   }
// }

.tutorial-video-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  margin-bottom: 3rem;

  .tutorials-container {
    .btn {
      height: 4rem;
      padding: 3px;
      border-radius: 0;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-body {
      border-left: black 2px solid;
      margin-left: 1rem;
      padding-left: 1rem;
      margin-top: 2rem;
      padding-right: 2rem;
    }

    a {
      border-radius: 15px;
    }

    img {
      width: 100%;
      border-radius: 15px;
      transition: all 0.5s cubic-bezier(0.56, -0.45, 0.62, 1.46);

      &:hover {
        -moz-transform: scale(1.025) translate(0px, -1px) skew(0deg, 0.25);
        -webkit-transform: scale(1.025) translate(0px, -1px) skew(0deg, 0.25);
        -o-transform: scale(1.025) translate(0px, -1px) skew(0deg, 0.25);
        -ms-transform: scale(1.025) translate(0px, -1px) skew(0deg, 0.25);
        transform: scale(1.025) translate(0px, -1px) skew(0deg, 0.25deg);
        box-shadow: 0px 7px 17px 0px rgba($white, 0.1);
      }
    }
  }
}
@media only screen and (min-width: 750px) {
  .tutorial-video-wrapper {
    grid-template-columns: 1fr 1fr;
    img {
      &:hover {
        -moz-transform: scale(1.2) translate(0px, -2px) skew(0deg, 1deg);
        -webkit-transform: scale(1.2) translate(0px, -2px) skew(0deg, 1deg);
        -o-transform: scale(1.2) translate(0px, -2px) skew(0deg, 1deg);
        -ms-transform: scale(1.2) translate(0px, -2px) skew(0deg, 1deg);
        transform: scale(1.05) translate(0px, -2px) skew(0deg, 0.5deg);
      }
    }
  }
}
@media only screen and (min-width: 1200px) {
  .tutorial-video-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1600px) {
  .tutorial-video-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
