$primary-0: #201039;
$primary-1: #59a6dc;
$primary-2: #3192d7;
$primary-3: #0565a8;
$primary-4: #044d80;

$danger-0: #ff2c00;
$danger-1: #ff795d;
$danger-2: #ff522e;
$danger-3: #ff2c00;
$danger-4: #c72300;

$success-0: #a9c54f;
$success-1: #a9c54f;
$success-2: #28e06d;
$success-3: #00bd46;
$success-4: #009136;

$warn-0: #eeaa22;
$warn-1: #ffb95d;
$warn-2: #ffa42e;
$warn-3: #ff9000;
$warn-4: #c77100;

$secondary-0: #202137;

$grey: #d8d8d8;
$green: #cbe56c;
$green-20: #daed97;
$teal: #82d8d8;
$teal-20: #b1e7e7;
$red: #e54b4b;
$red-20: #f08484;
$pink: #cf256d;
$black: #222;
$black-20: #4f4f4f;
$black-40: #828282;
$black-60: #bdbdbd;
$white-60: #e0e0e0;
$white-40: #f2f2f2;
$white-20: #f5f4f6;
$white: #dfdfdf;
$twitter: #00aced;
$facebook: #3b5998;
$google: #dd4b39;
$youtube: #b00;
$slack: #e8a723;
