.fa-hamburger {
    display: none;
}
.navbar-wrapper {
    position: fixed;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary-0;
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.25);

    .logo-navbar {
        font-size: 3rem;
        padding: 1rem 0 1rem 3.5rem;
    }

    ul {
        list-style: none;
        display: flex;
        grid-gap: 2rem;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 3.5rem;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .fa-hamburger {
        display: block;
        position: absolute;
        top: 3rem;
        right: 3rem;
        font-size: 3rem;
        z-index: 999;
        color: $primary-0;

        &-open {
            color: $white;
        }
    }
    .navbar-wrapper {
        position: fixed;
        .logo-navbar {
            display: none;
        }
        .greeting {
            display: none;
        }

        ul {
            width: 100vw;
            padding: 2rem 0;
            text-align: center;
            display: grid;
        }
    }
    .overlay {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba($black, 0.5);
        position: fixed;
    }
    .closed {
        top: -1000px;
    }
}
